/*Felles for alle*/

*{
  outline: 0;
  margin: 0;
  border: 0;
  padding: 0;
  color: var(--text-primary);
  text-decoration: none;
}

:root {
  /* Common colors*/
  --text-primary: #343434;

  --secondary: #46494c;
  --bg: #f7f7f2;

  /* Header nav Colors */
  --bg-header: #e4e6c3;

  /* Footer color */
  --bg-footer: #899878;

  /* Timers */
  --hover-time: 0.5s;
  -slide-time: 0.5s;

  font-size: 12px;
  font-family: Raleway;
}

body {
  z-index: -2;
  color: var(--text-primary);
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vh;
}

ul {
  list-style: none;
}

h2 {
font-size: 2.5rem;
text-align: center;
margin-bottom: 1rem;
}

h3 {
font-size: 1.7rem;
font-weight: 500;
text-align: center;
margin-top: 0.5rem;
margin-bottom: 0.5rem;
}

p {
font-size: 1.2rem;
line-height: 2rem;
text-align: center;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 6rem;
  z-index: 100;
  justify-content: space-between;
  background-color: var(--bg-header);
}

.logo-wrapper{
  display: flex;
  flex: 0.3;
  align-items: center;
  margin-left: 2rem;
  padding: 0;
  z-index: 200;
}

.logo-icon {
  display: block;
  background-image: url(../img/logo.png);
  opacity: 0.8;
  background-size: cover;
  width: 5rem;
  height: 3.5rem;
  transition: transform var(--hover-time) ease-out;
}

.logo-icon:hover {
  opacity: 1;
  transition: transform 0.3s ease-in-out;
}

.nav-group{
  display: flex;
  align-items: center;
}

.navbar-menu {
  display: flex;
  gap: 2.5rem;
  position: relative;
  list-style: none;
  margin-right: 2rem;
}

.nav-group li {
  list-style: none;

}

.nav-group a {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--secondary);
  background-color: rgba(70, 0, 0, 0);
}

.nav-group a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  background: var(--secondary);
  transform: scaleX(0);
  transition: var(--hover-time) ease-in-out;
  transform-origin: right;
}

.nav-group a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-group a:hover {
  color: var(--text-primary);
  transition: transform 1s ease-in;
}

#nav-toggle-open, #nav-toggle-close {
  position: relative;
  margin-right: 2rem;
  color: var(--secondary);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

#nav-icons {
  font-size: 2rem;
  display: none;
}

#burgertoggle{
  display: none;
}

@media (max-width: 750px) {

  #burger-toggle{
      opacity: 0;
  }

  .navbar-menu {
      flex-direction: column;
      position: fixed;
      top: -1000px;
      /*top: 0;*/
      right: 0px;
      width: 100%;
      height: 100%;
      justify-content: start;
      margin-right: 0;
      align-items: center;
      background-color: var(--bg-header);
      padding-top: 6rem;
      transition: 0.5s ease;
  }

  #nav-icons {
      position: relative;
      top: 0.5rem;
      background-color: rgba(0, 255, 255, 0);
      display: inline-block;
  }

  #nav-toggle-open {
      display: block;
  }

  .nav-group input:checked ~ #nav-toggle-open {
      display: none;

  }

  .nav-group input:checked ~ #nav-toggle-close {
      display: block;

  }

  .nav-group input:checked ~ .navbar-menu {
     top: 0;
  }

}

@media (max-width: 450px) {
  .navbar-menu{
    top: -1190px;
  }

  .nav-group a::before{
      display: none;
  }

}

/*MARIA - INDEX*/

/*Valgt fonten Raleway fra Google Fonts som font for overskrifter, og Helvetica som font for brødtekst*/

.header-index {
  margin-top: 6rem;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/Pilestredet_campus.jpeg);
  /*Bildet er hentet fra OsloMet sine nettsider: https://www.oslomet.no/en/about/get-to-know-oslomet*/
  background-position: center;
  background-size: cover;
}

.header-index h1 {
  margin: 0;
  padding: 20% 20% 20% 50%;
  font-size: 5vw;
  color: #FFFFFF;
}
/*Styling av header - valgt å sette bildet som en bakgrunn for å kunne plassere overskriften over bildet. Brukt 
viewheight og viewwidth for bedre skalering. Bruker padding for å posisjonere overskriften (litt mot venstre).*/

.rad {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.velkommen {
  width: 80%;
  margin: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: left;
}

.velkommen-kolonne {
  flex-basis: 48%;
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 0.1em;
  padding-right: 0.1em;
}

.velkommen-kolonne img {
  width: 100%;
}
/*Styling av flexbokser - raden fungerer som en flex-container og har lik kode for alle delene. Koden for kolonnene varierer,
avhengig av innhold.*/

.bibliotek {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 5em;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/bibliotek.jpg);
  background-size: cover;
  border-radius: 3em;
}
/*Bibliotek-delen har et bakgrunnsbilde, med en mørk transparant farge over for bedre lesbarhet. 
Bildet er et stock-bilde fra iStcok, lastet ned med lisens: https://www.istockphoto.com/*/

.bibliotek h2 {
  color: #FFFFFF;
  font-size: 3em;
}

.bibliotek > p {
  color: #FFFFFF;
  font-size: 1.5em
}

.bibliotek-kolonne {
  flex-basis: 35%;
  background: #F7F7F2;
  border-radius: 2em;
  margin: 5%;
  padding: 2em;
  box-sizing: border-box;
  text-align: left;
}
/*Styling av overskrift, tekst og boksene i bibliotek-delen*/

.p35 {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 5em;
}

.p35-kolonne {
  flex-basis: 32%;
  border-radius: 0.5em;
  margin-bottom: 1.5em;
  position: relative;
  overflow: hidden;
  background-color: black;
}

.p35-kolonne img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.p35-kolonne a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  transition: 0.5s;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 2em;
  padding: 0.5em;
  border: solid;
  border-color: #FFFFFF;
}

.p35-kolonne a:hover {
  background: rgba(137, 152, 120, 0.8);
}
/*P35 - Styling tre bokser med hvert sitt bilde og lenker til sider. Bakgrunnen er satt til svart, og transparens på bildene
er satt til 50% for bedre lesbarhet på tekst-link, og tekstlenkene er posisjonert midt på boksene*/

.kart {
  width: 80%;
  margin: auto;
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
}

.kart iframe {
  width: 100%;
}

@media screen and (max-width: 700px) {
   .footer, .rad {   
      flex-direction: column;
     }
  }

/*Susanne*/
.topical-body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; /**Fjerner den eksta marginen på siden**/
}

.topical-article{
    flex: 60%;
}

.topical-header{
align-items: center;
justify-content: center;
background-color: #899878;
margin-top: 50px;
}

/* Forsidebilde og tittel*/
#pagetitle{
  position: relative;
  text-align: center;
  color: white;
}

#pagetitle > h1{
    text-align: center;
    font-family: fantasy;
    font-weight: lighter;
    letter-spacing: 2px;
    color:#F7F7F2;
    font-size: xx-large;
    z-index: 1;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
}

#pagetitle>img{
  width: 100%;
  height: auto;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8);
  background: linear-gradient(#004092, #020202, transparent)
}


.flexbox {
    display: flex;
}

/*Artikkelteksten*/
.artikkeltekst{
    padding:2rem;
}

.artikkeltekst > p{
    flex-grow: 2;
    line-height: 1.5;
    font-size: medium;
    
}

.artikkeltekst > h2{
    font-family: fantasy;
    font-weight: 10;
    color: #46494C;
    margin: 50px 0 20px 0;
    font-size: x-large;

    
}

/*Bilde i artikkelen*/
#bilde1{
    display: flex;
    align-items: flex-end;
    max-width: 100%;
    margin-top: 50px;
}


#bildekilde1{
    margin: 0;
    font-size: smaller;
    color: grey;
}

/**Inspirert av W3Schools, animasjon med tekst**/
.animation {
    width: 100%;
    height: 100px;
    color:rgb(207,33,33);
    animation-name: example;
    animation-duration: 30s;
    padding: 20px;
    animation-iteration-count: infinite;
    font-family: Arial;
    margin-left: 10px;
    
}
@keyframes example {
    0%   {color: rgb(207, 33, 33);}
    10%  {color: rgb(234, 125, 58);}
    20%  {color: #FFD500;}
    30% {color: rgb(73, 194, 73);}
    40% {color: rgb(0, 191, 255);}
    50% {color: rgb(64, 64, 158);}
    60% {color: rgb(138, 42, 138);}
    70% {color: violet;}
    80% {color: pink;}
    90% {color: rgb(213, 85, 106);}
    100% {color: rgb(207,33,33);}
  }

/**Inspirert av W3Schools, flipboxer med bilder og info**/
  .flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin: 30px;
  }
  
  /* Posisjon foran og bak innhold */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  /* Horisontalt flip når musen går over boksen */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Posisjon foran og bak boks */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Styling på front */
  .flip-box-front {
    color: black;
    border:transparent;
  }

  .flip-box-front>img{
    width: 300px;
    height: 200px;
    
  }
  
  /* Styling bak */
  .flip-box-back {
    background-color: #899878;
    color: #F7F7F2;
    transform: rotateY(180deg);
  }
  .flip-box-back>p {
    padding:20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .flip-box-back>h4{
    font-family: fantasy;
    font-weight: lighter;
    font-size: larger;
    margin-top: 20px;
  }
/*Overskrift på linjen med bilder*/
  #linjetittel {
    font-family: fantasy;
    font-weight: lighter;
    color: #46494C;
    text-align: center;
    margin-top: 50px;
    font-size: large;
  }

  /*Knappene med linker*/
  .extrareading{
    display: flex;
    float: left;
  }

  .extrareading:after {
    content: "";
    clear: both;
    display: table;
  }

  .buttonlink{
    margin: -50px 30px 10px 30px;
  }
 
  .buttonlink > a:link, a:visited{
      background-color: #899878;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
  
  }

  .buttonlink > a:hover{
    color:#46494C
  }


/*Nellie*/
/* Header */
.header {
  margin: 0;
  width: 100%;
  height: 100vh;
  padding: 0;
  background-position: center;
  background-size: cover;
  background-color: #babab1;
}

.meny {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #d5debf;
  padding: 5px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.meny ul {
  list-style: none;
  display: flex;
  position: sticky;
}

.meny li {
  margin-right: 50px;
  position: sticky;
}

.meny li a {
  text-decoration: none;
  color: #343f3e;
  font-weight: bold;
  display: block;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.meny a:hover {
  color: #FFFFFF;
  position: sticky;
}

/* Forsidebilde */
.forsidebilde_kantina {
  text-align: center;
  margin-top: 0px;
}

.forsidebilde_kantina img {
  max-width: 100%;
  max-height: 100%;
  border: 0;
}

.forsidebilde_kantina p {
  font-size: 0;
  color: #3d3d3d;
}

/* Hovedinnhold */
/* Generelle stiler for hele seksjonen */

/* Stiler for første boks (info-box) */
.boks-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: auto;
  width: 80%;
}

.info-box,
.kantine-bilde,
.kaffebilde,
.Åpningstider {
  flex: 50%;
  
}

.info-box {
  padding: 20px;
  margin-bottom: 20px; 
  
}

/* Stiler for andre boks (kantine-bilde) */
.kantine-bilde {
  width: 100%;
}
.kantine-bilde img {
  width: 100%;
  height: auto;
}

/* Stiler for tredje boks (kaffebilde og Åpningstider) */
.kaffebilde,
.Åpningstider {
  flex: 50%;
}


.boks-holder div, img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/* Stiler for kaffebilde */
.kaffebilde {
  width: 100%;
}

.kaffebilde img {
  width: 100%;
  height: auto;
}

/* Stiler for fjerde boks (Åpningstider) */
.Åpningstider {
}



/* Ny stil for skjermbredder mindre enn 400px */
@media screen and (max-width: 400px) {
  .boks-holder {
    flex-direction: column;
    padding: 0;
  }

  .info-box,
  .kantine-bilde,
  .kaffebilde,
  .Åpningstider {
    flex: 100%;
    width: 100%;
  }
}

/* Ange-Clara */
.access-title {
  margin-top: 6rem;
  margin-bottom: 4rem;
  text-align: center;
  background-color: #2a1515b4;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/pilestredet.jpeg);
  background-position: center;
  background-size: cover;
}

.access-title img {
  align-content: center;
  max-width: 100%;
  height: 100%; 
}

.access-title h1 {
  position: relative;
  top: 50%;
  font-size: 5rem;
  color: var(--bg);
}


.access-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: auto;
}

.access-main-container section {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}

.access-main-container article{
  justify-content: space-between;
  gap: 2rem;
}

.access-welcome {
  text-align: center;
  width: 80%;
}


.test-wrapper {
  position: relative;
  top: 2rem;
}

.test-wrapper .test-article, .test-pictures {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.5em;
  flex: 50%;
}

.test-pictures img {
  width: 100%;
  height: auto;
}

.design-wrapper {
  position: relative;
  top: 2rem;
}

.design-wrapper .design-article, .design-pictures {
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0.5em;
  flex: 50%;
}

.design-pictures {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.design-pictures img {
  width: auto;
  height: 100%;
}

.picture1, .picture2, .picture3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 6rem;
}

@media (max-width: 750px) {
.access-main-container section {
  flex-direction: column;
}

.title {
}

}

@media (max-width: 450px) {
.access-main-container section {
  flex-direction: column;
}

}

/* End of accessibility-page styling */



/* Tomine */


/*.logo {
    display: flex;
    flex-direction: row; 
    width: 100%;
    border: 5px solid black;
    align-items: center;
    padding-left: 2%;
}*/

.data-header {
    margin-top: 6rem;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/mac.jpeg);
    /* Bildet er hentet fra; https://unsplash.com/photos/macbook-pro-on-white-surface-WiONHd_zYI4*/
    background-position: center;
    background-size: cover;
  }
  
  .data-header h1 {
    margin: 0;
    padding: 15% 20% 20% 25%;
    font-size: 4vw;
    color: #FFFFFF;
  }

/*Styling av header - valgt å sette bildet som en bakgrunn for å kunne plassere overskriften over bildet. Brukt 
viewheight og viewwidth for bedre skalering. Bruker padding for å posisjonere overskriften. Koden er inspirert av W3school.*/


.rad {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
  }


.data-kolonne {
    flex-basis: 48%;
    padding-top: 5em;
    padding-bottom: 5em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

.data-kolonne img {
    width: 100%;
}

/*Styling av flexbokser - raden fungerer som en flex-container og har lik kode for section 1,2 og 3. Samme gjelder for kolonnene innad i 
containeren.*/

.data-section1 {
    width: 80%;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: left;
}

.data-section2 {
    width: 80%;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: left;
    border-top: solid;
}

.data-section3 {
    width: 80%;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: left;
    border-top: solid;
}

.data-section4 {
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.data-section4 img{
    width: 100%;
}
/* Setter bildet i section 4 til å dekke hele siden til venstre og høyre*/

@media screen and (max-width: 700px) {
    .data-nav, ul, li, .data-section1, .data-section2, .data-section3 {   
       flex-direction: column;
     }
     .data-header h1 {
      font-size: 10vw;
     }
     ul, li {
       margin: 1%;
     }
 }

 /* footer styling */

 .main-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 6rem;
  color: var(--bg);
  background-color: var(--bg-footer);
 }

 .main-footer p, .main-footer a{
  color: var(--bg);
 }

 .main-footer h3 {
  color: var(--text-primary);
 }

 .main-footer section {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
 }

 .upper-footer {
  width: 90%;
  margin: auto;
 }

 .upper-footer span {
  flex: 30%;
  padding: auto;
  text-align: center;
 }

 .footer-list-container {
  align-items: center;
 }

 .upper-footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
 }

 .upper-footer li {
  font-size: 1.2rem;
  opacity: 0.8;
  align-items: center;
 }

 .upper-footer li:hover {
  color: var(--bg);
  opacity: 1;
  text-decoration: underline;
 }

 .bottom-footer {
  display: flex;
  width: 90%;
  margin: auto;
 }

 .bottom-footer .trademark, .footer-logo, .social-media {
  margin: auto;
  flex: 30%;
 }

 .trademark p{
  color: var(--text-footer);
 }

 .flogo-wrapper {
  display: flex;
  align-items: center;

 }

 .flogo-icon {
  display: block;
  position: relative;
  bottom: 4rem;
  background-image: url(../img/logo2.png);
  opacity: 0.8;
  background-size: cover;
  width:17rem;
  height: 10rem;
  margin: auto;
  transition: transform var(--hover-time) ease-out;
  background-color: rgba(0, 255, 255, 0);
  }

  .flogo-icon:hover {
      opacity: 1;
      transition: transform var(--hover-time) ease-in-out;
  }

 .bottom-footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  gap: 1rem;
  margin: auto;
 }

 .social-media li {
  width: 4rem;
  height: auto;
  opacity: 0.8;
  transition: all var(--hover-time) ease-out;
 }

 .social-media li:hover {
      opacity: 1;
      transition: var(--hover-time) ease-in-out;
  }

 .social-media img {
  width: 100%;
  height: auto;
  margin: auto;
 }

 @media (max-width: 750px) {
  .main-footer section{
      flex-direction: column;
  }

  .flogo-icon {
      margin-top: 5rem;
  }

 }