
/**Velger alle elementer**/
*{
  outline: 0;
  margin: 0;
  border: 0;
  padding: 0;
  color: var(--text-primary);
  text-decoration: none;
}

/* Lager en root med variabler for å kunne gjenbruke disse gjennom koden og gjøre det enklere for en annen å 
  endre ting i koden. */
:root {
  --text-primary: #343434;
  --secondary: #46494c;
  --primary: #f7f7f2;

  /* Bakgrunnsfarge for header */
  --bg-header: #e4e6c3;

  /* Footer color */
  --bg-footer: #e4e4c3;

  /* Timers */
  --hover-time: 0.5s;

  font-size: 12px;
  font-family: Raleway;
  /* Valgt fonten Raleway fra Google Fonts til overskrifter */
}

/* Setter body bakerst med z-indeks, bruker viewheight for bedre skalering av siden*/
body {
  z-index: -2;
  color: var(--text-primary);
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vh;
}

/* En container for alt hovedinnholdet. Elementene er midtstilt og det settes naturlige mellomrom mellom hvert av elementene (gap) */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  gap: 3rem;
}

/* Styling av ulike tekstelementer som vil fungere som standarder for hele siden */
ul {
  list-style: none;
}

h1 {
  position: relative;
  top: 50%;
  font-size: 5rem;
  color: var(--primary);
}

h2 {
font-size: 2.5rem;
text-align: center;
margin-bottom: 1rem;
}

h3 {
font-size: 2rem;
font-weight: 500;
text-align: center;
margin-top: 0.5rem;
margin-bottom: 0.5rem;
}

p {
font-size: 1.5rem;
line-height: 2.5rem;
text-align: center;
margin-bottom: 2%;
}

b {
  font-size: 1.5rem;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
}

/* Setter tekst i seksjonene på alle sidene mot venstre for bedre lesbarhet */
section p, section h2 {
  text-align: left;
}

/* Setter grunnstruktur for alle seksjonene, disse skal som standard følge rad og elementene skal midtstilles. */
section {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  gap: 2rem;
}

/* fungerer som en underseksjon av section */
article {
  justify-content: space-between;
  gap: 2rem;
}

/*Alle bilder settes til å fylle bredden i beholderen og samtidig beholde riktig dimensjoner ved å sette automatisk høyde. */
img {
  width: 100%;
  height: auto;
}

/*Row-classen brukes som en container for de ulike delene på siden - for hver "rad" bortover. */
.row {
  display: flex;
  margin: auto;
  justify-content: space-between;
  gap: 2rem;
}

/*Generell styling for header-bildene. Legger inn margin på topp og bunn, bruker viewheight for bedre skalering, og 
setter headeren til å dekke hele beholderen. */
.title-index, .title-data, .title-kantina, .title-access {
  margin-top: 6rem;
  margin-bottom: 4rem;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

/* STYLING FOR NAVIGASJONSBAREN */

/* Gjør nav om til en container for alle elementer som skal inkluderes i navigasjon */
/* Vi tar i bruk flex, og gir baren en fixed posisjon for at den skal være tilgjengelig under hele dokumentet */
/* z-index er satt til 100 for å dekke alle elementer som kommer nedover */
nav {
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 6rem;
  z-index: 100;
  justify-content: space-between;
  background-color: var(--bg-header);
}

/* STYLING FOR OSLO-MET LOGO wrapperen til logoen fungerer for å kunne plassere bildet korrekt*/
.logo-wrapper{
  display: flex;
  flex: 0.3;
  align-items: center;
  margin-left: 2rem;
  z-index: 200;
  padding: 0;
}

/* Setter inn bilde av logoen og gjør bildet delvis gjennomsiktig med en overgang når musen treffer logoen forsvinner det */
.logo-icon {
  display: block;
  background-image: url(../img/logo2.png);
  opacity: 0.8;
  background-size: cover;
  width: 6rem;
  height: 3.5rem;
  transition: transform var(--hover-time) ease-out;
}

.logo-icon:hover {
  opacity: 1;
  transition: transform 0.3s ease-in-out;
}

/* Beholder for navigasjonbaren */
.nav-group{
  display: flex;
  align-items: center;
}

/* stiller retningen til den uordnede listen til rad med jevne mellomrom */
.navbar-menu {
  display: flex;
  gap: 2.5rem;
  position: relative;
  list-style: none;
  margin-right: 2rem;
}

/* Styler linkene på den uordnede listen, position relative for god skalering! */
.nav-group a {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--secondary);
  background-color: #e4e6c300;
}

/* Lager en animasjon under linkene på navigasjonsbaren */
/* Koden for animasjon er hentet fra YouTube OnlineTutorials https://youtu.be/zQngLMkngQE?si=LA2rE8l4zWKPIy7O */
.nav-group a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  background: var(--secondary);
  transform: scaleX(0);
  transition: var(--hover-time) ease-in-out;
  transform-origin: right;
}

/* Dette gir understreken når musen treffer linkene i navigasjonsbaren */
.nav-group a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-group a:hover {
  color: var(--text-primary);
  transition: transform 1s ease-in;
}

/* Point klassen holder markøren/ animasjonen på den gjeldene siden, dette er for at bruker skal vite hvilken side den er på */
.nav-group .point::before {
  color: var(--text-primary);
  transform: scaleX(1);
}

/* Styling for åpne og lukke ikonet som kommer på mindre skjermoppløsninger, ikonene er ikke synlige ellers*/
#nav-toggle-open, #nav-toggle-close {
  position: relative;
  margin-right: 2rem;
  color: var(--secondary);
  cursor: pointer;
  z-index: 200;
  display: none;
}

/* Styler navigasjons ikoner, disse er ikke synlige på store skjermer */
#nav-icons {
  position: relative;
  bottom: -0.5rem;
  font-size: 2rem;
  display: none;
}

#burgertoggle{
  display: none;
}

/* Navigasjonsbar styling for mellomstore skjermer, nettbrett og lesebrett! */

@media screen and (max-width: 750px) {

  /* Her fortsetter koden for burgermenyen. top er satt til -83rem for at innholdet skal "forsvinne" (skyves opp), selve navigasjonsbaren styles også*/
  .navbar-menu {
    flex-direction: column;
    position: fixed;
    top: -83rem;
    right: 0;
    width: 100%;
    height: 100%;
    margin-right: 0;
    align-items: center;
    background-color: var(--bg-header);
    padding-top: 6rem;
    transition: 0.5s ease;
  }

  /* Styler lenkene når listen er på kolonne form, altså når bruker huker av burgermenyen, og når bruker navigerer seg */
  .navbar-menu li{
    text-align: center;
    width: 100%;
    margin: 2rem;
    padding: 4%;
  }

  .navbar-menu li:active {
    background-color: rgba(247, 247, 242, 0.557);
  }

  /* endrer stylingen på gjeldende side for bedre navigering på mindre skjermer */
  .point {
    cursor: default;
    width: 100%;
    background-color: rgba(247, 247, 242, 0.557);
  }


  /* Animasjonen for store skjermer er ikke lenger synlig */
  .nav-group a::before{
    display: none;
  }

  /* Ikoner blir synlig */
  #nav-icons {
     display: inline-block;
  }

  #nav-toggle-open {
    display: block;
  }

  /* Første burger ikon forsvinner, en x vil ta den plassen når bruker trykker på ikonet */
  .nav-group input:checked ~ #nav-toggle-open {
    display: none;

  }

  .nav-group input:checked ~ #nav-toggle-close {
    display: block;

  }

  /* Burgermenyen skyves ned */
  .nav-group input:checked ~ .navbar-menu {
     top: 0;
  }

}

@media screen and (max-width: 450px) {
  .navbar-menu{
    top: -3000px;
  }
  .navbar-menu li {
    padding: 7%;
  }

}

/*INDEX*/

/*Legger inn bildet i header*/
.title-index {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/pilestredet_campus.jpeg);
  /*Bildet er hentet fra OsloMet sine nettsider: https://www.oslomet.no/en/about/get-to-know-oslomet*/
}

/*Styling av velkommen-delen på forsiden, welcome fungerer som container og welcome-column er kolonnene/delene inne 
i containeren. Her er det bare oppdelt i to, og flex er derfor satt til 50%. */
.welcome {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.welcome-column {
  flex: 50%;
}

/* Ny seksjon/container for bibliotekene. Denne delen har et bakgrunnsbilde, med en mørk transparant farge over for bedre 
lesbarhet. Her er det først en overskrift, en liten beskrivende tekst og deretter tre bokser (for hvert bibliotek). Disse
styles med library-column klassen. */
.library {
  flex-direction: column;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/bibliotek.jpg);
  /*Bibliotek-delen har et bakgrunnsbilde, med en mørk transparant farge over for bedre lesbarhet. 
Bildet er et stock-bilde fra iStcok, lastet ned med lisens: https://www.istockphoto.com/*/
  background-size: cover;
  border-radius: 3em;
}

/*Setter box-sizing til border-box slik at 35% flex-basis inkluderer padding, og ikke vil øke den totale bredden. 
Bruker overflow: hidden; til å sikre at kolonnene ikke overskrider dimensjonene.*/
.library-column {
  flex-basis: 35%;
  background: #F7F7F2;
  border-radius: 2em;
  margin: 5%;
  padding: 2em;
  box-sizing: border-box;
  text-align: left;
  overflow: hidden;
}

/*Tekst i bibliotekdelen må styles litt annerledes da det er et bilde som bakgrunn og delene er satt i noe mindre bokser. */
.library h2 {
  color: #FFFFFF;
  font-size: 3em;
}

.library > p {
  color: #FFFFFF;
  font-size: 1.5em;
  text-align: center;
}

.library-column > p {
  line-height: 2rem;
  font-size: 1.2rem;
}

/*Styling av P35-delen. Tre bokser med hvert sitt bilde og lenker til sider. Legger en mørk transparent farge over bildene
for bedre lesbarhet på tekst-link, og tekstlenkene er posisjonert midt på boksene*/
.p35 {
  flex-direction: column;
  padding-top: 5rem;
}

/*Setter hver boks til å dekke 32 prosent av containeren (tredelt), litt avrundede kanter, bruker position: relative; til 
å kunne posisjonere linkene i midten av boksene senere. */
.p35-column {
  flex-basis: 32%;
  border-radius: 0.5em;
  margin-bottom: 1.5em;
  position: relative;
  overflow: hidden;
  background-color: black;
}

/*Setter høyden til å fylle hele beholderen og gjør de litt transparante for bedre lesbarhet av lenkene. */
.p35-column img {
  height: 100%;
  opacity: 0.5;
}

/*Styling av lenkene. Bruker position: absolute; og transform for å overlappe og posisjonere over bildene. Setter en 
hvit kant rundt lenkene og legger til en grønn bakgrunnfarge når man holder musepekeren over.  */
.p35-column a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  transition: 0.5s;
  font-weight: 500;
  color: var(--primary);
  font-size: 2em;
  padding: 0.5em;
  border: solid;
  border-color: var(--primary);
}

.p35-column a:hover {
  background: rgba(137, 152, 120, 0.8);
}

/*Styling av kart - senterer og legger litt padding over og under, og setter bredden til 100% for å fylle ut beholderen.
Det er for å line opp med resten av siden. */
.map {
  flex-direction: column;
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
}

.map iframe {
  width: 100%;
}

/* TOPICAL */

.topical-body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; /**Fjerner den eksta marginen på siden**/
}

.topical-article{
    flex: 60%;
}


/*Tittelen foran forsidebilde*/
#pagetitle{
  position: relative;
  text-align: center;
}

#pagetitle > h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    color: var(--primary);
    z-index: 1; /**Sette teksten foran bildet**/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%); /**Teksten kommer på midten**/
}

/**Forsidebilde**/
#frontpic{
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8);
  filter:brightness(0.8);
}

/**Bruker flexbokser**/
.flexbox {
    display: flex;
}

/**Skalering for mellomstore skjermer**/

/*Artikkelteksten*/
.article-text{
    padding:2rem;
}

/**Selve brødteksten sin styling**/
.article-text>p{
    flex-grow: 2;
    line-height: 1.5;
    font-size: medium;
    text-align: left;
    
}

/**Overskrifter i artikkel**/
.article-text>h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 10;
    color: #46494C;
    margin: 50px 0 20px 0;
    font-size: x-large;
    text-align: left;

    
}

/*Bilde i artikkelen*/
#pic1{
    display: flex;
    align-items: flex-end;
    max-width: 100%;
    margin-top: 50px;
}

/**Kilden til bilde**/
#picsource1{
    margin: 0;
    font-size: smaller;
    color: grey;
}

/**Inspirert av W3Schools, animasjon med endrende farge på tekst
https://www.w3schools.com/css/css3_animations.asp**/
.animation {
    width: 100%;
    height: 100px;
    color:rgb(207,33,33);
    animation-name: example;
    animation-duration: 30s;
    padding: 20px;
    animation-iteration-count: infinite;
    font-family: Arial;
    margin-left: 10px;
    margin-bottom: -15px;
    
}

/**Fargene i animasjonen**/
@keyframes example {
    0%   {color: rgb(207, 33, 33);}
    10%  {color: rgb(234, 125, 58);}
    20%  {color: #FFD500;}
    30% {color: rgb(73, 194, 73);}
    40% {color: rgb(0, 191, 255);}
    50% {color: rgb(64, 64, 158);}
    60% {color: rgb(138, 42, 138);}
    70% {color: violet;}
    80% {color: pink;}
    90% {color: rgb(213, 85, 106);}
    100% {color: rgb(207,33,33);}
  }

/**Inspirert av W3Schools, flipboxer med bilder og info som snur med 3D-effekt
https://www.w3schools.com/howto/howto_css_flip_box.asp**/
  .flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin: 80px;
    display: flex;
    flex-direction: column;
  }
  
  /* Posisjon foran og bak innhold */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  /* Horisontalt flip når musen går over boksen */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Posisjon foran og bak boks */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Styling på front */
  .flip-box-front {
    color: black;
    border:transparent;
  }

  /**Styling på bildene**/
  .flip-box-front>img{
    width: 300px;
    height: 200px;
    
  }
  
  /**Styling bak**/
  .flip-box-back {
    background-color: var(--bg-header);
    color: var(--text-primary);
    transform: rotateY(180deg);
  }

  /**Styling på brødteksten i boksene**/
  .flip-box-back>p {
    padding:0 20px 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    font-size: small;
  }

  /**Overskriftene i boksene**/
  .flip-box-back>h4{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: larger;
    margin: 10px 0 10px 0;
  }
/*Overskrift på linjen med bilder*/
  #linetitle {
    font-family: fantasy;
    font-weight: lighter;
    color: #46494C;
    text-align: center;
    margin-top: 50px;
    font-size: large;
  }

  /*Knappene med linker, inspirert av W3Schools: https://www.w3schools.com/howto/howto_css_button_group.asp*/
  .extrareading{
    display: flex;
    float: left;
  }

  /*Klarerer floats(clearfix hack)*/
  .extrareading:after {
    content: "";
    clear: both;
    display: table;
  }
/**Posisjon på knapper**/
  .buttonlink{
    margin: -50px 30px 10px 30px;
  }
 
  /**Styling på linkene**/
  .buttonlink > a:link, a:visited{
      background-color: #343F3E;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      border:solid white 10px;
  }

/**Når musen er over linkene**/
  .buttonlink > a:hover{
    color:#e4e6c3
  }

  @media screen and (max-width: 800px) {
    .flexbox {
      flex-direction: column;
    }
    .flexbox article {
      display: flex;
      flex-direction: column;
    }
  
    .flexbox aside {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      margin:20%;
    }
  
    .flip-box {
      width: 100%;
      height: auto;
    }
  
    .buttonlink{
      margin-bottom:50%;
    }
  }


/* KANTINE */

/* Header */
.title-kantina {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/Kantine-forside.jpg);
}
/*Slutt på header*/

/* Hovedinnhold */
/* Stiler for første section (first-box) */
.first-box {
  flex-direction: row;
  padding: 2%;
}

.info-box,
.cantine-picture {
  flex: 50%;
}

.info-box {
  padding: 20px;
  margin-bottom: 20px;
}

.cantine-picture {
  width: 100%;
}

/* Stiler for andre og tredje section (food-box 1 & 2) */
.food-box1 {
  flex-direction: column;
  padding: 2%;
  border-top: solid;
}

.food-box2 {
  flex-direction: column;
  border-bottom: solid;
  padding: 2%;
}
/*Stiler for div boksene inni food-box 1 & 2 )*/
.food-column {
  width: 100%;
  height: auto;
}

/* Stiler for fjerde section (last-box) */
.last-box {
  flex-direction: column;
  border-top: 10px;
  gap: 2rem;
}

.opening-hours h2, .opening-hours h3, .opening-hours p {
  text-align: center;
  padding-bottom: 2.0rem;
}

/* Ny stil for skjermbredder mindre enn 400px */
@media screen and (max-width: 400px) {
  .first-box {
    flex-direction: column;
    padding: 0;
  }
  .info-box,
  .cantine-picture,
  .opening-hours {
    flex: 100%;
    width: 100%;
  }
}
/*Slutt på hovedinnhold for kantina*/

/* ACCESSIBILITY */
.title-access {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/pilestredet.jpeg);
}


/* lager mellomrom mellom elementene i artikkel tekstene */
.access-main-container article{
  justify-content: space-between;
  gap: 2rem;
}

/* setter en broder rundt bildene */
.access-main-container img {
  border: solid;
}

.introduction {
  text-align: center;
  width: 80%;
}

/* setter de to hovedelementene (article og aside) i section boksene til å ta 50% av boksen hver */
.access-kolonne, .design-pictures {
  flex: 50%;
  padding: 2%;
}

/* lager border (linje) for å skille hver seksjon for bedre accessibility */
.design-wrapper, .test-wrapper{
  border-top: solid;
}
.design-wrapper {
  flex-direction: column;
}
/* gjør aside elementet for design boksen om til en flex-container for å utjevne bildene nedover */
.design-pictures {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

/* End of accessibility-page styling */

/* DATATORGET */

.title-data {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../img/mac.jpeg);
    /* Bildet er hentet fra; https://unsplash.com/photos/macbook-pro-on-white-surface-WiONHd_zYI4*/
  }
  
/*Styling av header - valgt å sette bildet som en bakgrunn for å kunne plassere overskriften over bildet. Brukt 
viewheight og viewwidth for bedre skalering. Bruker padding for å posisjonere overskriften. Koden er inspirert av W3school.*/
  .title-data h1 {
    top: 30%;
    font-size: 4rem;
  }

/* Settes til direction row som standard, og sier at hver av boksene skal inneholde 50% av bredden til seksjonen(section) den er i*/
.data {
    flex: 50%;
}

/* Gir alle de 4 boksene/seksjonene padding oppe og nede, samt en ramme på toppen som blir en delende strek mellom 
de ulike delene av siden*/
.data-section1, .data-section2, .data-section3, .data-section4 {
  padding-top: 4%;
  padding-bottom: 2%;
  border-top: solid;
}

/* Gir section 4 kolonne-retning slik at teskten står ovenfor bildet av banneret*/
.data-section4{
  flex-direction: column;
  text-align: center;
}

/* Setter bildet i section 4 til å dekke hele siden til venstre og høyre*/
.data-section4 img{
    width: 100%;
}

/* Skalering for main */
@media screen and (max-width: 1300px) {
  .library article{
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  section, .row {
    flex-direction: column;
  }
}
  
@media screen and (max-width: 450px) {
  section {
    flex-direction: column;
  }
}

 /* Footer styling */
 .main-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 6rem;
  color: var(--primary);
  background-color: var(--bg-footer);
 }

 .main-footer p, .main-footer a{
  text-align: center;
  color: var(--text-primary);
 }

 .main-footer h3 {
  color: var(--text-primary);
 }

 .main-footer section {
  margin-top: 4rem;
 }

 .upper-footer {
  width: 90%;
 }

 .upper-footer span {
  flex: 30%;
  padding: auto;
  text-align: center;
 }

 .footer-list-container {
  align-items: center;
 }

 .upper-footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
 }

 .upper-footer li {
  font-size: 1.2rem;
  opacity: 0.8;
  align-items: center;
 }

 .upper-footer li:hover {
  color: var(--primary);
  opacity: 1;
  text-decoration: underline;
 }

 .lower-footer {
  width: 90%;
 }

 .lower-footer .trademark, .footer-logo, .social-media {
  margin: auto;
  flex: 30%;
 }

 .trademark p{
  color: var(--text-footer);
 }

 .flogo-wrapper {
  display: flex;
  align-items: center;
 }

 .flogo-icon {
  display: block;
  position: relative;
  bottom: 3.5rem;
  background-image: url(../img/logo2.png);
  background-size: cover;
  width: 17rem;
  height: 10rem;
  margin: auto;
  opacity: 0.8;
  transition: transform var(--hover-time) ease-out;
  }

  .flogo-icon:hover {
    opacity: 1;
    transition: transform var(--hover-time) ease-in-out;
  }

 .lower-footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin: auto;
 }

 .social-media {
  padding-bottom: 2rem;
 }

 .social-media li {
  width: 4rem;
  height: auto;
  opacity: 0.8;
  transition: all var(--hover-time) ease-out;
 }

 .social-media li:hover {
  opacity: 1;
  transition: var(--hover-time) ease-in-out;
  }

 .social-media img {
  margin: auto;
 }

 /* ikoner er hentet fra https://iconmonstr.com/license/ */

 @media screen and (max-width: 1300px){
  .social-media li {
    width: 2.5rem;
  }
 }
 @media (max-width: 800px) {
  .main-footer section{
      flex-direction: column;
  }

  .social-media li {
    width: 4rem;
  }

  .flogo-icon {
      margin-top: 5rem;
  }

 }