.indexheader {
    padding: 60px;
    text-align: center;
    background-color: #FFD500;
    font-family: Arial, Helvetica, sans-serif;
}

.indexheader img {
  align-content: center;
  max-width: 10%;
  height: auto; 
}

.indexheader h1 {
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
}

.indexnavbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1f0d93;
  padding: 10px;
}

.indexnavbar a {
    display: block;
    text-align: center;
    font-family: Helvetica, sans-serif;
  }

.indexnavbar a:hover {
    color: #FFFFFF;
}

.indexnavbar ul {
  list-style: none;
  display: flex;
}

.indexnavbar li {
  margin-right: 50px;
}

.indexnavbar li a {
  text-decoration: none;
  color: #FFD500fc;
  font-weight: bold;
}

.forsidebilde img {
  align-content: center;
  max-width: 100%;
  height: auto; 
}

.forsidebilde p {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: #3d3d3d;
  margin-left: 1%;
}

<<<<<<< HEAD
=======
.flexbox2, .flexbox1 p {
  line-height: 1.5em;
}

.flexbox2, .flexbox1 p {
  line-height: 1.5em;
}

<<<<<<< HEAD
=======
>>>>>>> d0b4899 (Linjeavstand)
>>>>>>> main
.indexcontainer {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 70px;
   font-family: Arial, Helvetica, sans-serif;
}

.indexarticle {
    flex: 60%;
    padding: 30px;
}

.indexsidebar {
    flex: 40%;
    padding: 50px 30px 30px 30px;
    align-items: center;
}

.indexarticle img {
  width: 7%;
  height: auto;
  padding: 3px;
}

.indexarticle, .indexsidebar p {
line-height: 1.5em;
}

.indexfooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding: 50px 50px 50px 70px;
    background: #FFD500;
    font-family: Helvetica, Arial, sans-serif;
}

.indexfooter p {
  line-height: 1.5em;
}

.footerbox1, .footerbox2, .footerbox3 {
    flex: 30%;
    padding-left: 30px;
  }

.footerbox1 img {
    width: 7%;
    height: auto;
    padding: 3px;
}

<<<<<<< HEAD
.footerbox4 {
  flex: 100%;
  padding-left: 30px;
  padding-top: 2%;
}

.footerbox4 img {
    max-width: 20%;
    height: auto;
}

@media screen and (max-width: 800px) {
    .indexcontainer, .indexnavbar, ul, li, .indexfooter {   
=======
  @media screen and (max-width: 700px) {
<<<<<<< HEAD
<<<<<<< HEAD
    .container, .indexnavbar, ul, li {   
<<<<<<< HEAD
=======
    .container, .indexnavbar {   
>>>>>>> e76897b (endringer)
=======
    .container, .indexnavbar, ul, li {   
=======
>>>>>>> main
>>>>>>> 0f9590b (Responsive)
      flex-direction: column;
    }
    ul, li {
      margin: 1%;
    }
}