<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
:root {
  font-size: 12px;
  font-family: Raleway;
}

<<<<<<< HEAD
body {
  color: black;
  background-color: #f7f7f2;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vh;
}

h2 {
font-family: "Raleway";
font-size: 2.5rem;
}

h3 {
font-size: 1.7rem;
font-weight: 500;
text-align: center;
margin-top: 0.5rem;
margin-bottom: 0.5rem;
}

p {
font-family: Helvetica, Arial, sans-serif;
font-size: 1.2rem;
line-height: 2rem;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 6rem;
  z-index: 100;
  justify-content: space-between;
  background-color: #e4e6c3;
}

.logo-wrapper{
  display: flex;
  flex: 0.3;
  align-items: center;
  margin-left: 2rem;
  padding: 0;
  z-index: 200;
  background: #e4e6c300;
}

.logo-icon {
  display: block;
  background-image: url(style/img/logo-gråmørk.png);
  background-size: cover;
  width: 5rem;
  height: 3.5rem;
}

.logo-icon:hover {
  background-image: url(style/img/logo-maincolor.png);
  transition: transform 0.5s ease-in-out;
}

.nav-group{
  display: flex;
  align-items: center;
}

.navbar-menu {
  display: flex;
  gap: 2.5rem;
  position: relative;
  background-color: rgba(0, 169, 169, 0);
  list-style: none;
  margin-right: 2rem;
}

.nav-group li {
  list-style: none;
  background-color: rgba(217, 213, 0, 0);

}

.nav-group a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #46494c;
  background-color: rgba(70, 0, 0, 0);
}

.nav-group a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  background: #343434;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

.nav-group a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-group a:hover {
  color: #343434;
  transition: transform 1s ease-in;
}

#nav-toggle-open, #nav-toggle-close {
  position: relative;
  margin-right: 2rem;
  color: #343f3e;
  background-color: #ff0ad600;
  cursor: pointer;
  z-index: 10001;
  background-color: rgba(250, 235, 215, 0);
  display: none;
}

#nav-icons {
  font-size: 2rem;
  display: none;
}

#burgertoggle{
  display: none;
}

@media (max-width: 700px) {

  #burger-toggle{
      opacity: 0;
  }

  .navbar-menu {
      flex-direction: column;
      position: fixed;
      top: -1000px;
      /*top: 0;*/
      right: 0px;
      width: 100%;
      height: 100%;
      justify-content: start;
      margin-right: 0;
      align-items: center;
      background-color: #e4e6c3;
      padding-top: 6rem;
      transition: 0.5s ease;
  }

  #nav-icons {
      position: relative;
      top: 0.5rem;
      background-color: rgba(0, 255, 255, 0);
      display: inline-block;
  }

  #nav-toggle-open {
      display: block;
  }

  .nav-group input:checked ~ #nav-toggle-open {
      display: none;

  }

  .nav-group input:checked ~ #nav-toggle-close {
      display: block;

  }

  .nav-group input:checked ~ .navbar-menu {
     top: 0;
  }

}

/*Valgt fonten Raleway fra Google Fonts som font for overskrifter, og Helvetica som font for brødtekst*/

.header-index {
  margin-top: 6rem;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(style/img/Pilestredet_campus.jpeg);
  /*Bildet er hentet fra OsloMet sine nettsider: https://www.oslomet.no/en/about/get-to-know-oslomet*/
  background-position: center;
  background-size: cover;
}

.header-index h1 {
  margin: 0;
  padding: 20% 20% 20% 50%;
  font-size: 5vw;
  font-family: "Raleway";
  color: #FFFFFF;
}
/*Styling av header - valgt å sette bildet som en bakgrunn for å kunne plassere overskriften over bildet. Brukt 
viewheight og viewwidth for bedre skalering. Bruker padding for å posisjonere overskriften (litt mot venstre).*/

.rad {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.velkommen {
  width: 80%;
  margin: auto;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: left;
}

.velkommen-kolonne {
  flex-basis: 48%;
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 0.1em;
  padding-right: 0.1em;
}

.velkommen-kolonne img {
  width: 100%;
}

.bibliotek {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 80px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(style/img/bibliotek.jpg);
  background-size: cover;
  border-radius: 50px;
}

.bibliotek-kolonne {
  flex-basis: 35%;
  background: #F7F7F2;
  border-radius: 10px;
  margin: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}
/*Bibliotek-delen har et bakgrunnsbilde, med en mørk transparant farge over for bedre lesbarhet. 
Bildet er et stock-bilde fra iStcok, lastet ned med lisens: https://www.istockphoto.com/*/

.bibliotek h2 {
  color: #FFFFFF;
  font-size: 3em;
}

.bibliotek > p {
  color: #FFFFFF;
  font-size: 1.2em
}

.p35 {
  width: 80%;
  margin: auto;
  padding: 80px 0;
  text-align: center;
}

.location iframe {
  width: 100%;
=======
   flex-wrap: wrap;
   justify-content: space-between;
   font-family: Helvetica, Arial, sans-serif;
}

=======
>>>>>>> c3e8e16 (Layout)
p {
=======
=======
.indexheader img {
  align-content: center;
  max-width: 100%;
  height: auto; 
=======
.headercontainer {
=======
=======
>>>>>>> bc3f38a (Meny)
=======
>>>>>>> 1591b81 (header)
=======
=======
>>>>>>> 298ad32 (layout)
>>>>>>> cfbdbd8 (layout)
body {
  margin: 0;
}

#header {
<<<<<<< HEAD
>>>>>>> fd9df0f (layout)
=======
<<<<<<< HEAD
>>>>>>> cfbdbd8 (layout)
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(style/img/Pilestredet_campus.jpeg);
  background-position: center;
  background-size: cover;
>>>>>>> 2485467 (header)
}

#header h1 {
  margin: 0;
  padding: 20% 20% 20% 50%;
  font-size: 5vw;
  font-family: "Raleway";
  color: #FFFFFF;
=======
.indexheader img {
  align-content: center;
  max-width: 100%;
  height: auto; 
}

<<<<<<< HEAD
.indexheader p {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: #3d3d3d;
  margin-left: 1%;
>>>>>>> a2d3b1e (Meny)
=======
.headercontainer {
=======
>>>>>>> 298ad32 (layout)
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(style/img/Pilestredet_campus.jpeg);
  background-position: center;
  background-size: cover;
}

#header h1 {
  margin: 0;
<<<<<<< HEAD
  padding: 20%;
>>>>>>> 405bbb7 (header)
=======
  padding: 20% 20% 20% 50%;
  font-size: 5vw;
  font-family: "Raleway";
  color: #FFFFFF;
>>>>>>> 8f1999e (header)
}

=======
>>>>>>> c3e8e16 (Layout)
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #F7F7F2;
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

<<<<<<< HEAD
<<<<<<< HEAD
.menu ul {
=======
.indexnavbar ul {
>>>>>>> c518729 (Sticky meny)
=======
.menu ul {
>>>>>>> c3e8e16 (Layout)
  list-style: none;
  display: flex;
  position: sticky;
}

.menu li {
  margin-right: 50px;
  position: sticky;
}

.menu li a {
  text-decoration: none;
<<<<<<< HEAD
<<<<<<< HEAD
  color: #343f3e;
=======
  color: #899878;
>>>>>>> a2d3b1e (Meny)
=======
  color: #343f3e;
>>>>>>> 3ac6621 (flex)
  font-weight: bold;
  display: block;
  text-align: center;
<<<<<<< HEAD
=======
  font-family: Helvetica, sans-serif;
}

.menu a:hover {
  color: #FFFFFF;
  position: sticky;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.forsidebilde img {
  align-content: center;
  max-width: 100%;
  height: auto; 
}

.forsidebilde p {
>>>>>>> c518729 (Sticky meny)
  font-family: Helvetica, sans-serif;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.menu a:hover {
  color: #FFFFFF;
  position: sticky;
}

<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> ac6b505 (Meny)
.flexbox2, .flexbox1 p {
>>>>>>> 1176b31 (Sticky meny)
  line-height: 1.5em;
  font-family: Helvetica, Arial, sans-serif;
  }

.welcome {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: left;
}

.welcome-column {
  flex-basis: 48%;
  padding: 30px 2px;
}

<<<<<<< HEAD
.welcome-column img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
=======
=======
>>>>>>> 746e48e (reorganisering)
.indexcontainer {
   display: flex;
<<<<<<< HEAD
   justify-content: center;
   align-items: center;
   padding-left: 70px;
   font-family: Arial, Helvetica, sans-serif;
>>>>>>> 1176b31 (Sticky meny)
}

.p35-kolonne a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  transition: 0.5s;
  font-weight: 500;
  font-family: "Raleway";
  color: #FFFFFF;
  font-size: 2em;
  padding: 0.5em;
  text-decoration: none;
  border: solid;
  border-color: #FFFFFF;
}

.p35-kolonne a:hover {
  background: rgba(137, 152, 120, 0.8);
}
/*P35 - Styling tre bokser med hvert sitt bilde og lenker til sider. Bakgrunnen er satt til svart og transparens på bilder
er satt til 50% for bedre lesbarhet på tekst-link, og tekstlenkene er posisjonert midt på boksene*/

.kart {
  width: 80%;
  margin: auto;
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
}

.location iframe {
  width: 100%;
}

/*Endre footer?*/
.footer {
=======
   flex-wrap: wrap;
   justify-content: space-between;
   font-family: Helvetica, Arial, sans-serif;
}

=======
>>>>>>> 912144f (Layout)
p {
=======
<<<<<<< HEAD
=======
.flexbox2, .flexbox1 p {
  line-height: 1.5em;
}

.flexbox2, .flexbox1 p {
>>>>>>> 1c80b35 (.)
  line-height: 1.5em;
  font-family: Helvetica, Arial, sans-serif;
  }

=======
>>>>>>> 860c372 (fiksa main)
=======
>>>>>>> 59a069c (lagt til diverse!)
.welcome {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: left;
=======
=======
>>>>>>> a2d3b1e (Meny)
.flexbox2, .flexbox1 p {
  line-height: 1.5em;
}

.flexbox2, .flexbox1 p {
  line-height: 1.5em;
}

=======
>>>>>>> 6f29303 (reorganisering)
.indexcontainer {
   display: flex;
<<<<<<< HEAD
   justify-content: center;
   align-items: center;
   padding-left: 70px;
   font-family: Arial, Helvetica, sans-serif;
>>>>>>> c199ae7 (lagt til diverse!)
}

.welcome-column {
  flex-basis: 48%;
  padding: 30px 2px;
}

.welcome-column img {
  width: 100%;
}

h2 {
  font-family: "Raleway";
  font-size: 2em;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  margin: 10px 0;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

.p35 {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 80px;
}

.p35-column {
  flex-basis: 35%;
  background: #F7F7F2;
  border-radius: 10px;
  margin: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.bibliotek {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 80px;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(style/img/bibliotek.jpg);
  background-size: cover;
  border-radius: 50px;
}

.row {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.bibliotek-column {
  flex-basis: 35%;
  background: #F7F7F2;
  border-radius: 10px;
  margin: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.bibliotek h2 {
  color: #FFFFFF;
  font-size: 3em;
}

.bibliotek > p {
  color: #FFFFFF;
  font-size: 1.2em
}

.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
  text-align: center;
}

.location iframe {
  width: 100%;
=======
   flex-wrap: wrap;
   justify-content: space-between;
   font-family: Helvetica, Arial, sans-serif;
}

=======
>>>>>>> c3e8e16 (Layout)
p {
  line-height: 1.5em;
  font-family: Helvetica, Arial, sans-serif;
  }

.welcome {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h2 {
  font-family: "Raleway";
<<<<<<< HEAD
}

.indexarticle {
    width: 40vw;
    padding: 30px 30px 30px 100px;
}

.indexsidebar {
    width: 40vw;
    padding: 4em;
}

#kart {
  width: 40vw;
  height: 50vh;
}

.indexbox1 {
  width: 50vw;
  align-self: left;
}

.indexbox1 img{
  width: 100%;
  height: auto;
}

.indexbox2 {
<<<<<<< HEAD
  max-width: 300px;
  padding: 10rem;
<<<<<<< HEAD
  border: solid;
>>>>>>> 298ad32 (layout)
=======
>>>>>>> 3ac6621 (flex)
=======
  width: 40vw;
  padding: 10em 5em 5em 0;
}

.indexbox2 h2 {
=======
>>>>>>> c3e8e16 (Layout)
  font-size: 2em;
}

<<<<<<< HEAD
.indexbox2 p {
font-size: 1.2em;
>>>>>>> 4651dd4 (    border: solid;)
=======
h3 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  margin: 10px 0;
}

.bibliotek {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.bibliotek-row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.bibliotek-column {
  flex-basis: 31%;
  background: #F7F7F2;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
>>>>>>> c3e8e16 (Layout)
}

.indexfooter {
>>>>>>> fd9df0f (layout)
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding: 50px 50px 50px 70px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    background: #E4E6C3;
=======
    background: #F7F7F2;
>>>>>>> 693e08e (Header)
=======
    background: #E4E6C3;
>>>>>>> 9b3edda (flex)
=======
=======
>>>>>>> aabe3d7 (flex)
    background: #E4E6C3;
=======
    background: #F7F7F2;
>>>>>>> fc170eb (Header)
<<<<<<< HEAD
>>>>>>> 4b7c261 (Header)
=======
=======
    background: #E4E6C3;
>>>>>>> 3ac6621 (flex)
>>>>>>> aabe3d7 (flex)
    font-family: Helvetica, Arial, sans-serif;
}

<<<<<<< HEAD
.footerboks1, .footerboks2, .footerboks3 {
=======
.footerbox1, .footerbox2, .footerbox3 {
>>>>>>> fd9df0f (layout)
    flex: 30%;
    padding-left: 30px;
  }

.footerboks1 img {
    width: 7%;
    height: auto;
    padding: 3px;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.footerboks4 {
=======
=======
>>>>>>> c591aed (.)
=======
>>>>>>> 860c372 (fiksa main)
=======
>>>>>>> 38fea99 (.)
=======
=======
>>>>>>> 8f9bb80 (Sticky meny)
>>>>>>> 744e714 (Sticky meny)
.footerbox4 {
>>>>>>> 1176b31 (Sticky meny)
  flex: 100%;
  padding-left: 30px;
  padding-top: 2%;
}

.footerboks4 img {
    max-width: 20%;
    height: auto;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
@media screen and (max-width: 700px) {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
   .menu, ul, li, .footer, .rad {   
=======
@media screen and (max-width: 800px) {
=======
@media screen and (max-width: 1000px) {
>>>>>>> fd9df0f (layout)
=======
@media screen and (max-width: 700px) {
>>>>>>> 7b9e691 (    border: solid;)
    .indexcontainer, .indexnavbar, ul, li, .indexfooter {   
>>>>>>> 1176b31 (Sticky meny)
=======
   .menu, ul, li, .indexfooter, .bibliotek-row {   
>>>>>>> 912144f (Layout)
=======
   .menu, ul, li, .indexfooter, .row {   
>>>>>>> e00cc37 (Layout)
=======
@media screen and (max-width: 800px) {
=======
@media screen and (max-width: 1000px) {
>>>>>>> cfbdbd8 (layout)
=======
@media screen and (max-width: 700px) {
>>>>>>> 3329e41 (    border: solid;)
=======
>>>>>>> fbe6602 (Layout)
    .indexcontainer, .indexnavbar, ul, li, .indexfooter {   
<<<<<<< HEAD
=======
  @media screen and (max-width: 700px) {
    .container, .indexnavbar, ul, li {   
>>>>>>> 0f9590b (Responsive)
<<<<<<< HEAD
>>>>>>> 38fea99 (.)
=======
=======
>>>>>>> 8f9bb80 (Sticky meny)
<<<<<<< HEAD
>>>>>>> 744e714 (Sticky meny)
=======
=======
   .menu, ul, li, .indexfooter, .bibliotek-row {   
>>>>>>> c3e8e16 (Layout)
>>>>>>> fbe6602 (Layout)
      flex-direction: column;
    }
    ul, li {
      margin: 1%;
    }
}