/*Maria*/

/*Susanne*/
.topical-body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.topical-article{
    margin-left: 2rem;
}

.topical-header{
display: flex;
padding:20px;
align-items: center;
justify-content: center;
background-image:url(../img/city.jpg);
background-position: top;
background-size: 500px;
background-position: 100%;
background-repeat: repeat-x;
}


.topical-menu{
    list-style: none;
    display: flex;
    

}

.topical-menu > li {
    margin: 10px 40px 10px 40px;
    

}

.topical-menu > li > a {
color:bisque;
font-weight: bold;
text-decoration: none;

}

.topical-menu > li > a:hover{
    text-decoration: underline;
    color:pink
}


#tittel{
    text-align: center; 
    font-family: fantasy;
    font-weight: lighter;
    letter-spacing: 2px;
    color: rgb(23, 71, 112);
}

.flex-container{
    display:flex;
    flex-direction:column;
}

.artikkeltekst{
    padding:2rem;
}

.artikkeltekst > p{
    flex-grow: 2;
    
}

.artikkeltekst > h2{
    font-family: fantasy;
    font-weight: 10;

    
}


#bilde1{
    display: flex;
    align-items: flex-end;
    max-width: 100%;
}


#bildekilde1{
    margin: 0;
    font-size: smaller;
    color: grey;
}

#topical-footer{
    background-color: bisque;
    margin:0;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
}

.animation {
    width: 100%;
    height: 100px;
    color:rgb(207,33,33);
    animation-name: example;
    animation-duration: 30s;
    padding: 20px;
    animation-iteration-count: infinite;
    font-family: Arial;
    text-align: center;
}
@keyframes example {
    0%   {color: rgb(207, 33, 33);}
    10%  {color: rgb(234, 125, 58);}
    20%  {color: #FFD500;}
    30% {color: rgb(73, 194, 73);}
    40% {color: rgb(0, 191, 255);}
    50% {color: rgb(64, 64, 158);}
    60% {color: rgb(138, 42, 138);}
    70% {color: violet;}
    80% {color: pink;}
    90% {color: rgb(213, 85, 106);}
    100% {color: rgb(207,33,33);}
  }







/*Nellie*/
/* Header */
<<<<<<< HEAD
<<<<<<< HEAD
.Kantinaheader {
<<<<<<< HEAD
    padding: 60px;
    text-align: center;
    background-color: #FFD500; /* Endret farge til gull (#FFD500) */
    font-family: Arial, Helvetica, sans-serif;
=======
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #F7F7F2;
    font-family: "Raleway";
<<<<<<< HEAD

>>>>>>> c870b8c (Header)
}

.Kantinaheader img {
    max-width: 100%;
    height: 0;
    margin: 0;

}

/* Navigasjonsmeny */
.kantinanavbar {
=======
  }
  
  .Kantinaheader img {
    max-width: 100%;
    height: 0;
    margin: 0;
  }
  
  /* Navigasjonsmeny */
  .horizontal-menu {
>>>>>>> f8fc7bc (Navbar)
    display: flex;
<<<<<<< HEAD
    justify-content: center;
    background-color: #1f0d93; /* Endret farge til mørk blå (#1f0d93) */
    padding: 25px;
=======
    flex-direction: row;
    justify-content: center;
    background-color: #F7F7F2;
    padding: 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
<<<<<<< HEAD
>>>>>>> c870b8c (Header)
}

.horizontal-menu {
    list-style: none;
<<<<<<< HEAD
    position: center;
    display: flex;
  }
  
  .horizontal-menu li {
    position: center;
=======
    background-color:#343f3e
    display: flex;
    position: sticky;

}

.horizontal-menu li {
>>>>>>> c870b8c (Header)
=======
  }
  
  .horizontal-menu {
    list-style: none;
    position: center;
    display: flex;
  }
  
  .horizontal-menu li {
    position: center;
>>>>>>> f8fc7bc (Navbar)
    margin-right: 40px;
  }
  
  .horizontal-menu li a {
    text-decoration: none;
<<<<<<< HEAD
    color: #FFD500; /* Endret farge til gull (#FFD500) */
=======
    color: #343f3e;
>>>>>>> c870b8c (Header)
    font-weight: bold;
    display: block;
    text-align: center;
    font-family: Helvetica, sans-serif;
<<<<<<< HEAD
<<<<<<< HEAD
  }
=======
}
>>>>>>> c870b8c (Header)
=======
  }
>>>>>>> f8fc7bc (Navbar)
=======
=======
.Kantinaheader {
    margin: 0;
    padding: 0px;
    text-align: center;
    background-color: #F7F7F2;
    font-family: "Raleway";

}
>>>>>>> d27c7bb (Header)

.meny {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #F7F7F2;
  padding: 30px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.meny ul {
  list-style: none;
  display: flex;
  position: sticky;
}

.meny li {
  margin-right: 50px;
  position: sticky;
}

.meny li a {
  text-decoration: none;
  color: #343f3e;
  font-weight: bold;
  display: block;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.meny a:hover {
  color: #FFFFFF;
  position: sticky;
}
>>>>>>> d971ec0 (endring)

/* Forsidebilde */
.Kantinaheader {
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin-top: 0px;
}

.Kantinaheader img {
    max-width: 0%;
    height: auto;
}

.Kantinaheader p {
    font-size: 12px;
    color: #3d3d3d;
    text-align: center;
}

/* Hovedinnhold */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}

.flexbox2, .flexbox1, .flexbox3 {
    flex: 1;
    padding: 15px;
}

#kantine-bilde {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Footer-seksjon */
.kantina_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding: 50px 50px 50px 70px;
    background: #E4E6C3;
    font-family: Helvetica, Arial, sans-serif;
}

.footerbox1, .footerbox2, .footerbox3 {
    flex: 30%;
    padding-left: 30px;
  }

.footerbox1 img {
    width: 7%;
    height: auto;
    padding: 3px;
}

.footerbox4 {
  flex: 100%;
  padding-left: 30px;
  padding-top: 2%;
}

.footerbox4 img {
    max-width: 20%;
    height: auto;
}

@media screen and (max-width: 1000px) {
    .indexcontainer, .indexnavbar, ul, li, .indexfooter {   
      flex-direction: column;
    }
    ul, li {
      margin: 1%;
    }
}


/* Ange-Clara */

/* Tomine */
.body {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    text-align: left;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 .flexbox1 {
     flex: 20%;
     padding: 10px;
     text-align: left;
 }
 
 .flexbox2 {
     flex: 40%;
     padding: 10px;
     text-align: left;
 }
 
 .flexbox3 {
     flex: 20%;
     padding: 10px;
     text-align: left;
 }

 .orakel img {
    width: 200px;
    border: 2px solid #1f0d93;
    border-radius: 15px 50px;
 }

 .dtorget img {
    width: 400px;
    border: 2px solid #000000;
 }

 .dtorget b {
    font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: #FFD500;
  padding: 5px;
  background-color: #1f0d93;
 }

 .dataheader {
    padding: 60px;
    text-align: center;
    background-color: #FFD500;
    font-family: Arial, Helvetica, sans-serif;
}

.dataheader img {
  align-content: center;
  max-width: 10%;
  height: auto; 
}

.datanavbar a {
    display: block;
    text-align: center;
    font-family: Helvetica, sans-serif;
  }

.datanavbar a:hover {
    color: #FFFFFF;
  }

.datanavbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #1f0d93;
    padding: 10px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.datanavbar ul {
    list-style: none;
    display: flex;
  }
  
  .datanavbar li {
    margin-right: 30px;
  }
  
  .datanavbar li a {
    text-decoration: none;
    color: #FFD500fc;
    font-weight: bold;
  }
  
  .forsidebilde img {
    align-content: center;
    max-width: 100%;
    height: auto; 
  }

  .flexbox4 {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
    flex: 30%;
=======
    flex: 20%;
>>>>>>> 7199275 (hhyhhy)
=======
    flex: 30%;
>>>>>>> 2884463 (endres)
=======
    flex: 20%;
>>>>>>> f986aa5 (hhyhhy)
=======
    flex: 30%;
>>>>>>> 0cc24de (endres)
  }

  .ansatt {
    box-shadow: 0 4px 8px 0 #edb57a33;
    transition: 0.3s;
    width: 40%;
  }

  .ansatt img {
    width: 100%;
    height: auto;
  }

  
  /* On mouse-over, add a deeper shadow */
  .ansatt:hover {
    box-shadow: 0 8px 16px 0 #c29e9e33;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
    text-align: end;
  }

  @media screen and (max-width: 800px) {
    .container, .datanavbar, .indexfooter {   
      flex-direction: column;
    }
  }

  .indexfooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding: 50px 50px 50px 70px;
    background: #FFD500;
    font-family: Helvetica, Arial, sans-serif;
}

.indexfooter p {
  line-height: 1.5em;
}

.footerbox1, .footerbox2, .footerbox3 {
    flex: 30%;
    padding-left: 30px;
  }

.footerbox1 img {
    width: 7%;
    height: auto;
    padding: 3px;
}

.footerbox4 {
  flex: 100%;
  padding-left: 30px;
  padding-top: 2%;
}

.footerbox4 img {
    max-width: 20%;
    height: auto;
}
