/*Maria*/

/*Susanne*/
.topical-body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; /**Fjerner den eksta marginen på siden**/
}

.topical-article{
    flex: 60%;
}

.topical-header{
align-items: center;
justify-content: center;
background-color: #899878;
margin-top: 50px;

}


.topical-menu{
    list-style: none;
    

}

.topical-menu > li {
    margin: 10px 40px 10px 40px;
    
    

}

.topical-menu > li > a {
color:#F7F7F2;
font-weight: bold;
text-decoration: none;
text-align: center;


}

.topical-menu > li > a:hover{
    text-decoration: underline;
    color:#343F3E;
}

.topical-nav {
    display: flex;
    position: fixed;
    top: 0px;
    height: 50px;
}


.text-container{ 
    
    position: absolute;
    z-index:1;
}
.text-container > h1{
    text-align: center;
    font-family: fantasy;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #46494C;
}


.flexbox {
    display: flex;
}

.artikkeltekst{
    padding:2rem;
}

.artikkeltekst > p{
    flex-grow: 2;
    
}

.artikkeltekst > h2{
    font-family: fantasy;
    font-weight: 10;
    color: #46494C;

    
}


#bilde1{
    display: flex;
    align-items: flex-end;
    max-width: 100%;
}


#bildekilde1{
    margin: 0;
    font-size: smaller;
    color: grey;
}

#topical-footer{
    background-color: bisque;
    margin:0;
    margin-top: 50px;
    padding: 50px;
    text-align: center;
}

.animation {
    width: 100%;
    height: 100px;
    color:rgb(207,33,33);
    animation-name: example;
    animation-duration: 30s;
    padding: 20px;
    animation-iteration-count: infinite;
    font-family: Arial;
    text-align: center;
}
@keyframes example {
    0%   {color: rgb(207, 33, 33);}
    10%  {color: rgb(234, 125, 58);}
    20%  {color: #FFD500;}
    30% {color: rgb(73, 194, 73);}
    40% {color: rgb(0, 191, 255);}
    50% {color: rgb(64, 64, 158);}
    60% {color: rgb(138, 42, 138);}
    70% {color: violet;}
    80% {color: pink;}
    90% {color: rgb(213, 85, 106);}
    100% {color: rgb(207,33,33);}
  }


  .flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin:30px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    color: black;
    border:transparent;
  }

  .flip-box-front>img{
    width: 300px;
    height: 200px;
    
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: #899878;
    color: #F7F7F2;
    transform: rotateY(180deg);
  }
  .flip-box-back>p {
   margin-bottom: 10px;
   padding: 0 20px 0 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .flip-box-back>h4{
    font-family: fantasy;
    font-weight: lighter;
    font-size: larger;
    margin-bottom: -5px;
  }

  #linjetittel {
    font-family: fantasy;
    font-weight: lighter;
    color: #46494C;
    text-align: center;
  }

    






/*Nellie*/
/* Header */
.Kantinaheader {
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #F7F7F2;
    font-family: "Raleway";
  }
  
  .Kantinaheader img {
    max-width: 100%;
    height: 0;
    margin: 0;
  }
  
  /* Navigasjonsmeny */
  .horizontal-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F7F7F2;
    padding: 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  .horizontal-menu {
    list-style: none;
    position: center;
    display: flex;
  }
  
  .horizontal-menu li {
    position: center;
    margin-right: 40px;
  }
  
  .horizontal-menu li a {
    text-decoration: none;
    color: #343f3e;
    font-weight: bold;
    display: block;
    text-align: center;
    font-family: Helvetica, sans-serif;
  }

/* Forsidebilde */
.forsidebilde_kantina {
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin-top: 0px;
}

.forsidebilde_kantina img {
    max-width: 90%;
    height: auto;
}

.forsidebilde_kantina p {
    font-size: 12px;
    color: #3d3d3d;
    text-align: center;
}

/* Hovedinnhold */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
}

.flexbox2, .flexbox1, .flexbox3 {
    flex: 1;
    padding: 15px;
}

#kantine-bilde {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Footer-seksjon */
.kantina_footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding: 50px 50px 50px 70px;
    background: #E4E6C3;
    font-family: Helvetica, Arial, sans-serif;
}

.footerbox1, .footerbox2, .footerbox3 {
    flex: 30%;
    padding-left: 30px;
  }

.footerbox1 img {
    width: 7%;
    height: auto;
    padding: 3px;
}

.footerbox4 {
  flex: 100%;
  padding-left: 30px;
  padding-top: 2%;
}

.footerbox4 img {
    max-width: 20%;
    height: auto;
}

@media screen and (max-width: 1000px) {
    .indexcontainer, .indexnavbar, ul, li, .indexfooter {   
      flex-direction: column;
    }
    ul, li {
      margin: 1%;
    }
}

/* Ange-Clara */

/* Tomine */
/*
.databody {
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #E4E6C3;
}
#dataheader {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url(/style/img/mac.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #dataheader h1 {
    margin: 0;
    padding: 10% 15% 80% 15%; /*paddingen bestemmer hvor overskriften plasseres*/
    /*font-size: 5vw;
    font-family: "Raleway";
    color: #FFFFFF;
    position: absolute; /* for å plassere tekst oppå bilde*/
    /*font-family: Helvetica, Arial, Helvetica, sans-serif;
  } 

.datacontainer {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
 }
 
 .flexbox1 {
     flex: 20%;
     padding: 10px;
     text-align: left;
 }
 
 .flexbox2 {
     flex: 40%;
     padding: 10px;
     text-align: left;
 }
 
 .flexbox3 {
     flex: 20%;
     padding: 10px;
     text-align: left;
 }

 .orakel img {
    width: 200px;
    border: 2px solid #1f0d93;
    border-radius: 15px 50px;
 }

 .dtorget img {
    width: 400px;
    border: 2px solid #000000;
    animation-name: slideLeft;
    animation-duration: 3s;
 }

 @keyframes slideLeft{
    from{transform: translateX(300%)} 
 }

 .dtorget b {
    font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: #899878;
  padding: 5px;
  background-color: #1f0d93;
 }

/*.header img {
  align-content: left;
  width: 5px;
}*/

/*.datanavbar a {
    display: block;
    text-align: center;
    font-family: Helvetica, sans-serif;
  }

.datanavbar a:hover {
    color: #FFFFFF;
  }

.datanavbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #899878;
    padding: 10px;
    position: -webkit-sticky; /* Safari */
    /*position: sticky;
    z-index: 100; /*hjelp av chat?? men funker*/
   /* top: 0;
}

.datanavbar ul {
    list-style: none;
    display: flex;
  }
  
  .datanavbar li {
    margin-right: 30px;
  }
  
  .datanavbar li a {
    text-decoration: none;
    color: #f7f7f2;
    font-weight: bold;
  }
  
  .flexbox4 {
    flex: 30%;
  }

  .ansatt {
    box-shadow: 0 4px 8px 0 #edb57a33;
    transition: 0.3s;
    width: 10%;
  }

  .ansatt img {
    width: 100%;
    height: auto;
  }

  
  /* On mouse-over, add a deeper shadow */
  /*.ansatt:hover {
    box-shadow: 0 8px 16px 0 #c29e9e33;
  }
  

  @media screen and (max-width: 800px) {
    .datacontainer, .datanavbar, .indexfooter {   
      flex-direction: column;
    }
  }

  .indexfooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    padding: 50px 50px 50px 70px;
    background: #899878;
    font-family: Helvetica, Arial, sans-serif;
}

.indexfooter p {
  line-height: 1.5em;
}

.footerbox1, .footerbox2, .footerbox3 {
    flex: 30%;
    padding-left: 30px;
  }

.footerbox1 img {
    width: 7%;
    height: auto;
    padding: 3px;
}

.footerbox4 {
  flex: 100%;
  padding-left: 30px;
  padding-top: 2%;
}

.footerbox4 img {
    max-width: 20%;
    height: auto;
}
*/

/*oppdatert stylesheet tomine*/

:root {
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/*
.data-body {
    display: flex; 
    flex-direction: column;
}*/

.data-main { /*samme som wrapper i eksempel*/
    display: flex; 
    flex-direction: column; 
    width: 80%; /* Bredden på selve nettsiden*/ 
    margin: auto;
    font-size: 2rem;
}

.logo {
    display: flex;
    flex-direction: row; 
    width: 100%;
    border: 5px solid black;
    align-items: center;
    padding-left: 2%;
}

.data-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F7F7F2;
    padding: 25px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    
  }
  
  .data-nav ul {
    list-style: none;
    display: flex;
    position: sticky;
  }
  
  .data-nav li {
    margin-right: 50px;
    position: sticky;
  }
  
  .data-nav li a {
    text-decoration: none;
    color: #343f3e;
    font-weight: bold;
    display: block;
    text-align: center;
    font-family: Helvetica, sans-serif;
  }

/*.data-nav {
    display: flex;
    flex-direction: row;
    width: 100%;

    min-height: 60px;
    border: 5px solid black;
    margin-top: 10px;
    justify-content: center; 
    align-items: center; 

    position: -webkit-sticky; /* Safari */
   /* position: sticky;
    z-index: 100; /*hjelp av chat?? men funker*/
   /* top: 0;
}*/


#data-header {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/style/img/mac.jpeg);
    background-position: center;
    background-size: cover;
  }
  
  #data-header h1 {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* plasserer teksten i midten langs x aksen*/
    color: #ffffff;
    font-size: 5rem;
    /*margin: 0;
    padding: 10% 15% 30% 15%;
    font-size: 5vw;
    font-family: "Raleway";
    color: #FFFFFF;*/
  }
/*
.data-header {
    display: flex;
    flex-direction: row; 
    height: 300px;
    border: 5px solid black;
    margin-top: 10px;
    justify-content: center; 
    align-items: center; 
}

#data-header {
    margin: 0;
    padding: 0;
    background-image: url(/style/img/mac.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-start;
    flex-grow: 2;

  }
  
  #data-header h1 {
    margin: 0;
    padding: 5px;
    /*padding: 10% 15% 40% 15%; paddingen bestemmer hvor overskriften plasseres*/
    /*font-size: 5vw;
    font-family: "Raleway";
    color: #FFFFFF;
    position: absolute; /* for å plassere tekst oppå bilde*/
    /*font-family: Helvetica, Arial, Helvetica, sans-serif;*/
  

.data-section1 {
    display: flex;
    flex-direction: row; 
    width: 100%;
    min-height: 400px;
    margin-top: 10px;
    justify-content: space-between;
}

.data-article1 {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    background-color: #F7F7F2;
    justify-content: center; 
    align-items: flex-start;
    /*align-items: center;*/
    border: 5px solid #899878; 
    border-radius: 5px; /*for å få rund kant på bildet*/
    /*font-size: 2.5vw;*/
}

.h2-article1 {
    display: flex;
    flex-direction: row;
    flex-basis: 15%;
    text-align: center;
    padding: 10px;
    margin:0;
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);
    width: 100%;
    justify-content: center; 
    align-items: center; 
}

.p-article1 {
    display: flex;
    flex-direction: row;
    flex-basis: 70%;
    padding: 40px;
    align-content: center;
    justify-content: center; 
}

/*hentet fra w3school https://www.w3schools.com/tags/tag_hr.asp*/

.data-aside1 {
    display: flex; 
    flex-direction: row;
    flex-basis: 38%;      
    justify-content: center; 
    align-items: center;
}

.data-aside1 img {
    width: 100%;
    height: 100%;
    border: 5px solid #899878; 
    border-radius: 5px; /*for å få rund kant på bildet*/
}


.data-section2 {
    display: flex;
    flex-direction: row; 
    width: 100%;
    min-height: 400px;
    margin-top: 10px;
    justify-content: space-between;
}

.data-article2 {
    display: flex;
    flex-direction: column;
    flex-basis: 62%;
    border: 5px solid #899878;
    background-color: #F7F7F2;
    justify-content: center; 
    align-items: center;
    border-radius: 5px;
    /*font-size: 2.5vw;*/
}

.h2-article2 {
    display: flex;
    flex-direction: row;
    flex-basis: 15%;
    text-align: center;
    padding: 10px;
    margin:0;
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);
    width: 100%;
    justify-content: center; 
    align-items: center; 
}


.ul-article2 {
    display: flex;
    flex-direction: row;
    flex-basis: 70%;
    background-color: #F7F7F2;
    padding: 40px;
    align-content: center;
    justify-content: center;  
}



.data-aside2 {
    display: flex; 
    flex-direction: row;
    flex-basis: 37%;
    border: 5px solid black;          
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    border: 5px solid #899878;
    border-radius: 5px;
}

.data-aside2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.data-section3 {
    display: flex;
    flex-direction: row; 
    width: 100%;
    min-height: 400px;
    margin-top: 10px;
    justify-content: space-between;
}

.data-aside3 {
    display: flex; 
    flex-direction: column;
    flex-basis: 37%;
    border: 5px solid #899878;   
    border-radius: 5px;     
    justify-content: center; 
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}

.orakel-logo {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 10px;
    align-items: center;
}

.orakel-logo b {
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
    text-align: center;
    font-size: 1.5rem; 
    padding-bottom: 10px;
    padding-top: 5px;
}

.orakel-logo img {
        display: flex;
        flex-direction: row;
        flex-basis: 20%;
        width: 200px;
        border: 2px solid #1f0d93;
        border-radius: 15px 50px;
}

.orakeltjenesten {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    border-radius: 100%;
    background: #899878;
    padding: 20px; 
    width: 200px;
    height: 150px; 
    text-align: center;
    margin-bottom: 12px;
    border: 5px solid #F7F7F2;
}

.orakeltjenesten b{
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
    font-size: 1.5rem;
    padding-top: 15px;
    color: #F7F7F2;
}

.orakeltjenesten p{
    display: flex;
    flex-direction: row;
    flex-basis: 20%;
    font-size: 1.5rem;
    padding-top: 10px;
    color: #F7F7F2;
}

.data-article3 {
    display: flex;
    flex-direction: column;
    flex-basis: 62%;
    border: 5px solid #899878;
    justify-content: center; 
    align-items: center;
    background-color: #F7F7F2;
    border-radius: 5px;
}

.data-article3 h2 {
    display: flex;
    flex-direction: row;
    flex-basis: 15%;
    text-align: center;
    padding: 10px;
    margin:0;
    font-size:2rem;
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);
    width: 100%;
    justify-content: center; 
    align-items: center; 
}

.data-article3 p {
    display: flex;
    flex-direction: row;
    flex-basis: 70%;
    padding: 40px;
    font-size: 1.6rem;
    align-content: center;
    justify-content: center;  
}

.data-section4 img{
    width: 100%;
    height: auto;
}

.data-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    border: 5px solid black;
    background-color: white; /*bare for å overkjære en kode over*/
    margin-top: 10px; 
    justify-content: center; 
    align-items: center; 
}

